body {
    width: 100%;
    font-family: helvetica;
}

nav {
    width: 950px;
    height: 200px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: chocolate;
    margin-bottom: 10px;
}

#year-slider {
    width: 700px;
}

#magnitude-slider {
    width: 500px;
}

tr,
td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: crimson;
}

#epicenter-plot {
    float: left;
    /*border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: crimson;*/
    background-image: url("../../data/korean_map-555x800.gif");
    background-repeat: no-repeat;
    background-position: right top;
    /*background-attachment: fixed;*/
}

#yearly-statistics {
    width: 400px;
    height: 300px;
    /*float: left;*/
}

svg {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.brush rect {
    opacity: 0.2;
}