body {
    width: 100%;
    font-family: helvetica;
    background-color: #FFFFF0;
}

p#main-title {
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 36px;
    text-align: center;
}


/*nav {
    width: 950px;
    height: 200px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: chocolate;
    margin-bottom: 10px;
}*/

#year-slider {
    width: 700px;
}

#magnitude-slider {
    width: 700px;
}

table#main-interface {
    /*border-collapse: separate;
    border-spacing: 10px 10px;*/
}

tr,
td {
    /*border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: slateblue;*/
    border-width: 2px;
    /*border-radius: 6px;*/
}

p.chart-title {
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    font-size: 24px;
    text-align: center;
    float: top;
}

h2#epicenter-map-title {
    font-size: 30px;
    text-align: center;
}

td.chart-background {
    background-color: #f2f0f7;
}

div.chart {
    margin: 0px 10px 10px 10px;
    background: linear-gradient(to bottom right, white, #F0FFF0);
}

div#epicenter-plot {
    background-color: white;
}

#epicenter-plot {
    float: left;
    /*border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: crimson;*/
    background-image: url("../../data/korean_map-555x800.gif");
    background-repeat: no-repeat;
    background-position: right top;
    /*background-attachment: fixed;*/
}

#regional-statistics {
    /*width: 400px;
    height: 300px;*/
    float: left;
}

svg {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 16px;
}

.dot {
    stroke: #000;
}

.brush rect {
    opacity: 0.2;
}

.arc text {
    font: 18px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}